.box1,.box2,.box3,.box4,.box5,.box6{
    background:orange;
    height: 125px;
    width: 125px;
    padding: 10px;
    margin: 30px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.box1{
    box-shadow: #3f3f3f 10px 10px;
}
.box2{
    box-shadow: #3f3f3f 8px 8px 3px 2px;
}
.box3{
    box-shadow: #3f3f3f 10px 10px 3px 3px;
}
.box4{
    box-shadow: silver 12px 15px 2px;
}
.box5{
    box-shadow: #3f3f3f 12px 10px 3px 2px;
    border-radius: 3%;
}
.box6{
    box-shadow: silver 15px 12px 2px;
    border-radius: 3%;
}
